/* #9ca3af */
/* #e5e7eb */
/* #059669 */
/* #6ee7b7 */
/* #a7f3d0 */






.form{
    display: flex;
}
.form button{
    margin-left: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
    border: 1px solid #059669;
}

.form input{
    outline:none;
    border: 1px solid #059669;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #fff;

}

.form input:focus{
    border: 2px solid #059669;   
}